# "Translation Word/Char Count Prediction (Part 1)"

> Prediction of translated Word or Char Count is used as a Quality or Validation Check
- toc: true
- branch: master
- badges: false
- comments: true
- hide: false
- search_exclude: true
- metadata_key1: metadata_value1
- metadata_key2: metadata_value2
- image: images/PredictTranslationWordAndCharCount_1.png
- categories: [Translation_Industry,  Regression,  Python,pandas]
- show_tags: true

In [ ]:
#hide
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'TODANALYTICS/'
# base_dir = ""

Mounted at /content/gdrive

## Purpose
Machine translation is used increasingly to lighten the load of human translators. The critical component here is the *translation engine* which is a model that takes a sequence of source words and outputs another sequence of translated words. To train such a model many thousands of sentence pairs need to be aligned for training examples.

There is a relationship between the number of words (and the number of characters) in the source language and the target language. If this relationship can be established and captured in yet another model, such a model can be helpful in at least two ways:

* For training: Validate the alignment of two sentences (in a training example) by comparing their *word size* and/or *character size*
* For inference: Validate the *word size* and/or *character size* of a translated/proofread sentence

The purpose of this project is to discover such a model for a variety of languages and to evaluate its use in the above roles.

## Dataset and Variables
The dataset comes in the form of *contributions*, each captured in one of 167289 rows or data-points. Each contribution is a sentence that could be in the source language (always English) or a translation of the source sentence. There could be many variations/versions of a translated sentence, including the version provided by the translation engine initially. Human proofreaders then provide their own corrections in the form of other versions.

There are 4 kinds of contributions:

* E: English contributions
* T: Translate contributions - provided by the translation engine
* C: Create contributions - corrections provided by human proofreaders/translators
* V: Vote contributions - whenever a human proofreader/translator indicates agreement with a contribution provided by the translation engine, it is recorded in the form of a vote contribution

The features of the dataset are:

* m_descriptor: Unique identifier of a document
* t_lan: Language of the translation (English is also considered a translation)
* t_senc: Number of sentences in a document
* t_version: Version of a translation
* s_typ: Type of the sentence
* s_rsen: Number of a sentence within a document
* e_id: Database primary key of a contribution's content
* e_top: Content of the contribution that got the most votes
* be_id: N/A
* be_top: N/A
* c_id: Database primary key of a contribution
* c_created_at: Creation time of a contribution
* c_kind: Kind of a contribution
* c_eis: N/A
* c_base: N/A
* a_role: N/A
* u_name: N/A
* e_content: Text content of a contribution
* chars: Number of characters in a contribution
* words: Number of words in a contribution

In this notebook we will only prepare the dataset. Exploratory data analysis as well as modeling will occur in followup notebooks.

# Setup the Environment

In [ ]:
from pathlib import Path
import pandas as pd
import seaborn as sns
import glob
import re
%matplotlib inline

In [ ]:
!python --version

Python 3.7.10

In [ ]:
# 
PATH = Path(base_dir); #PATH

# Get train/valid data

Next we will ingest all the data we need. Note that the content (e_content) for each contribution is not displayed as it often makes the presentation unwieldy.

In [ ]:
#hide
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

## Ingest all E-contributions

In [ ]:
#hide
# df_E = pd.read_csv(f'{PATH}/contributions/1955-0807y_Pride_ENG_15-0401-b_E-contributions.csv', sep='~')
# df_E = pd.read_csv(f'{PATH}/contributions/1965-0829_SatansEden_ENG_15-1104-b_E-contributions.csv', sep='~')
# df_E

In [ ]:
all_files = glob.glob(f"{PATH}/contributions/*E-contributions.csv")
li = []
for filename in all_files:
    dft = pd.read_csv(filename, index_col=None, header=0, sep='~')
    li.append(dft)
df_E = pd.concat(li, axis=0, ignore_index=True)
df_E.iloc[:5,:-2]

  m_descriptor t_lan  t_senc    t_version  ... c_kind  c_eis  c_base a_role
0   1965-0418x   ENG    1870  18-0101-E1R  ...      E      0     NaN     EP
1   1965-0418x   ENG    1870  18-0101-E1R  ...      E      0     NaN     EP
2   1965-0418x   ENG    1870  18-0101-E1R  ...      E      0     NaN     EP
3   1965-0418x   ENG    1870  18-0101-E1R  ...      E      0     NaN     EP
4   1965-0418x   ENG    1870  18-0101-E1R  ...      E      0     NaN     EP

[5 rows x 16 columns]

In [ ]:
#hide
df_E

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                              Let us bow our heads.
1        1965-0418x  ...  Lord, as we gather here this fine Easter morni...
2        1965-0418x  ...  We believe that You raised up Jesus from the d...
3        1965-0418x  ...  And let there come an Easter among us all, today.
4        1965-0418x  ...  May we, as His servants, understand His Word, ...
...             ...  ...                                                ...
167284       CAB-06  ...     What else could we desire above Jesus Himself?
167285       CAB-06  ...     Is He not everything, even Perfect Everything?
167286       CAB-06  ...  He that hath an ear let him hear what the Spir...
167287       CAB-06  ...                                              Amen.
167288       CAB-06  ...  Even so, Lord God, by Thy Spirit, let us hear ...

[167289 rows x 18 columns]

In [ ]:
df_E = df_E.drop(['e_id','t_senc','s_typ','e_top','be_id','be_top','c_created_at','c_kind','c_eis','c_base','a_role','u_name'], axis=1) #each record now unique
df_E.iloc[:5,:-1]

  m_descriptor t_lan    t_version  s_rsen    c_id
0   1965-0418x   ENG  18-0101-E1R       1  224461
1   1965-0418x   ENG  18-0101-E1R       2  224462
2   1965-0418x   ENG  18-0101-E1R       3  224463
3   1965-0418x   ENG  18-0101-E1R       4  224464
4   1965-0418x   ENG  18-0101-E1R       5  224465

In [ ]:
#hide
df_E

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                              Let us bow our heads.
1        1965-0418x  ...  Lord, as we gather here this fine Easter morni...
2        1965-0418x  ...  We believe that You raised up Jesus from the d...
3        1965-0418x  ...  And let there come an Easter among us all, today.
4        1965-0418x  ...  May we, as His servants, understand His Word, ...
...             ...  ...                                                ...
167284       CAB-06  ...     What else could we desire above Jesus Himself?
167285       CAB-06  ...     Is He not everything, even Perfect Everything?
167286       CAB-06  ...  He that hath an ear let him hear what the Spir...
167287       CAB-06  ...                                              Amen.
167288       CAB-06  ...  Even so, Lord God, by Thy Spirit, let us hear ...

[167289 rows x 6 columns]

In [ ]:
# 
#handle NaNs in e_content
e_content_nans = df_E['e_content'].isna()
df_E[e_content_nans]

      m_descriptor t_lan  t_version  s_rsen    c_id e_content
33415    1956-0805   ENG  15-0402-b    1176  454335       NaN
43018    1957-0419   ENG  15-0401-b     505   13306       NaN

In [ ]:
# 
#replace e_content NaNs with empty strings
df_E.loc[e_content_nans, 'e_content'] = ''
# df_E.loc[e_content_nans, ['e_content']]
# OR
df_E[df_E['e_content']=='']

      m_descriptor t_lan  t_version  s_rsen    c_id e_content
33415    1956-0805   ENG  15-0402-b    1176  454335
43018    1957-0419   ENG  15-0401-b     505   13306

In [ ]:
# 
#add chars column
df_E['chars'] = [len(e) for e in df_E['e_content']]
# df_E['chars'] = [len(e) if type(e)==str else 1 for e in df_E['e_content']]
df_E.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','c_id','chars']]

  m_descriptor t_lan    t_version  s_rsen    c_id  chars
0   1965-0418x   ENG  18-0101-E1R       1  224461     21
1   1965-0418x   ENG  18-0101-E1R       2  224462    225
2   1965-0418x   ENG  18-0101-E1R       3  224463    109
3   1965-0418x   ENG  18-0101-E1R       4  224464     49
4   1965-0418x   ENG  18-0101-E1R       5  224465    163
5   1965-0418x   ENG  18-0101-E1R       6  224466     96

In [ ]:
#hide
df_E

       m_descriptor  ... chars
0        1965-0418x  ...    21
1        1965-0418x  ...   225
2        1965-0418x  ...   109
3        1965-0418x  ...    49
4        1965-0418x  ...   163
...             ...  ...   ...
167284       CAB-06  ...    46
167285       CAB-06  ...    46
167286       CAB-06  ...    71
167287       CAB-06  ...     5
167288       CAB-06  ...    56

[167289 rows x 7 columns]

In [ ]:
# 
# df_E.loc[e_content_nans, ['e_content','chars']]
# OR
df_E[df_E['chars']==0]

      m_descriptor t_lan  t_version  s_rsen    c_id e_content  chars
33415    1956-0805   ENG  15-0402-b    1176  454335                0
43018    1957-0419   ENG  15-0401-b     505   13306                0

In [ ]:
# 
#add words column
#https://www.geeksforgeeks.org/python-program-to-count-words-in-a-sentence/
df_E['words'] = [len(re.findall(r'\w+', e)) for e in df_E['e_content']]
df_E.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','c_id','chars','words']]

  m_descriptor t_lan    t_version  s_rsen    c_id  chars  words
0   1965-0418x   ENG  18-0101-E1R       1  224461     21      5
1   1965-0418x   ENG  18-0101-E1R       2  224462    225     40
2   1965-0418x   ENG  18-0101-E1R       3  224463    109     20
3   1965-0418x   ENG  18-0101-E1R       4  224464     49     10
4   1965-0418x   ENG  18-0101-E1R       5  224465    163     30
5   1965-0418x   ENG  18-0101-E1R       6  224466     96     17

In [ ]:
#hide
df_E

       m_descriptor t_lan  ... chars  words
0        1965-0418x   ENG  ...    21      5
1        1965-0418x   ENG  ...   225     40
2        1965-0418x   ENG  ...   109     20
3        1965-0418x   ENG  ...    49     10
4        1965-0418x   ENG  ...   163     30
...             ...   ...  ...   ...    ...
167284       CAB-06   ENG  ...    46      8
167285       CAB-06   ENG  ...    46      7
167286       CAB-06   ENG  ...    71     15
167287       CAB-06   ENG  ...     5      1
167288       CAB-06   ENG  ...    56     12

[167289 rows x 8 columns]

In [ ]:
# 
#remove BER part of version from t_version so that we can use this column to join the English contributions with their matching translated contributions
df_E['t_version'] = ['-'.join(e.split('-')[:2]) for e in df_E['t_version']]
df_E.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','c_id','chars','words']]

  m_descriptor t_lan t_version  s_rsen    c_id  chars  words
0   1965-0418x   ENG   18-0101       1  224461     21      5
1   1965-0418x   ENG   18-0101       2  224462    225     40
2   1965-0418x   ENG   18-0101       3  224463    109     20
3   1965-0418x   ENG   18-0101       4  224464     49     10
4   1965-0418x   ENG   18-0101       5  224465    163     30
5   1965-0418x   ENG   18-0101       6  224466     96     17

In [ ]:
#hide
df_E

       m_descriptor t_lan  ... chars  words
0        1965-0418x   ENG  ...    21      5
1        1965-0418x   ENG  ...   225     40
2        1965-0418x   ENG  ...   109     20
3        1965-0418x   ENG  ...    49     10
4        1965-0418x   ENG  ...   163     30
...             ...   ...  ...   ...    ...
167284       CAB-06   ENG  ...    46      8
167285       CAB-06   ENG  ...    46      7
167286       CAB-06   ENG  ...    71     15
167287       CAB-06   ENG  ...     5      1
167288       CAB-06   ENG  ...    56     12

[167289 rows x 8 columns]

## Ingest all V-contributions

In [ ]:
#hide
# df_V = pd.read_csv(f'{PATH}/contributions/1955-0807y_Pride_CHN_15-0401-h_V-contributions.csv', sep='~')
# df_V = pd.read_csv(f'{PATH}/contributions/1965-0829_SatansEden_FIJ_15-1104-B123_V-contributions.csv', sep='~')
# df_V

In [ ]:
all_files = glob.glob(f"{PATH}/contributions/*V-contributions.csv")
li = []
for filename in all_files:
    dft = pd.read_csv(filename, index_col=None, header=0, sep='~')
    li.append(dft)
df_V = pd.concat(li, axis=0, ignore_index=True)
df_V.iloc[:5,:-2]

  m_descriptor t_lan  t_senc        t_version  ... c_kind  c_eis  c_base a_role
0   1965-0418x   AFR    1870  18-0101-B123E1R  ...      V     11       a     CE
1   1965-0418x   AFR    1870  18-0101-B123E1R  ...      V     28       a     TE
2   1965-0418x   AFR    1870  18-0101-B123E1R  ...      V      0       c     CE
3   1965-0418x   AFR    1870  18-0101-B123E1R  ...      V      0       c     TE
4   1965-0418x   AFR    1870  18-0101-B123E1R  ...      V      0       c     TE

[5 rows x 16 columns]

In [ ]:
#hide
df_V

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                          Laat ons ons hoofde buig.
1        1965-0418x  ...                          Laat ons ons hoofde buig.
2        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
3        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
4        1965-0418x  ...  Ons glo dat U Jesus opgewek het uit die dode, ...
...             ...  ...                                                ...
382737       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
382738       CAB-06  ...                                              Amen.
382739       CAB-06  ...                                              Amen.
382740       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...
382741       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[382742 rows x 18 columns]

In [ ]:
#hide
# print(df_V['be_top'].unique())
# df_V[df_V['be_top'].isna()] #are these due to a bug???
# df_V[df_V['e_top'].isna()]

In [ ]:
df_V = df_V.drop(['t_senc','s_typ','be_id','c_eis'], axis=1)
df_V.iloc[:5,:-2]

  m_descriptor t_lan        t_version  ...  c_kind  c_base a_role
0   1965-0418x   AFR  18-0101-B123E1R  ...       V       a     CE
1   1965-0418x   AFR  18-0101-B123E1R  ...       V       a     TE
2   1965-0418x   AFR  18-0101-B123E1R  ...       V       c     CE
3   1965-0418x   AFR  18-0101-B123E1R  ...       V       c     TE
4   1965-0418x   AFR  18-0101-B123E1R  ...       V       c     TE

[5 rows x 12 columns]

In [ ]:
#hide
df_V

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                          Laat ons ons hoofde buig.
1        1965-0418x  ...                          Laat ons ons hoofde buig.
2        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
3        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
4        1965-0418x  ...  Ons glo dat U Jesus opgewek het uit die dode, ...
...             ...  ...                                                ...
382737       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
382738       CAB-06  ...                                              Amen.
382739       CAB-06  ...                                              Amen.
382740       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...
382741       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[382742 rows x 14 columns]

In [ ]:
#hide
#verify all TE/CE
# df_V[df_V['a_role']=='TE']
# df_V[df_V['a_role']=='CE']

In [ ]:
#hide
#keep only top edits
# df_V['e_top'].unique()
df_V[~df_V['e_top'].isin(['M','T'])] #show others first before reassigning df

       m_descriptor  ...                                          e_content
3        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
7        1965-0418x  ...  En laat daar tussen ons almal ,'n Pase kom van...
8        1965-0418x  ...  Mag ons, as Sy diensknegte, Sy Woord verstaan,...
14       1965-0418x  ...  Mag dit ook ’n Pase wees vir hulle, en ’n ekso...
23       1965-0418x  ...  Ek beskou hierdie beslis as ’n wonderlike voor...
...             ...  ...                                                ...
382705       CAB-06  ...  Hulle word ook sterre genoem omdat hulle 'houe...
382706       CAB-06  ...  Daarom in die donker van sonde, bring hulle di...
382724       CAB-06  ...  Hy sal nie die sterre gebruik (boodskappers) o...
382728       CAB-06  ...  Dit is die môrester wat sigbaar is wanneer die...
382733       CAB-06  ...  Wat anders kan ons begeer behalwe Jesus Homself ?

[20637 rows x 14 columns]

In [ ]:
# 
#keep only top edits
# df_V[df_V['e_top'].isin(['M','T'])] #Majority & Tie
df_V = df_V[df_V['e_top'].isin(['M','T'])] #Majority & Tie
df_V.iloc[:5,:-2]

  m_descriptor t_lan        t_version  ...  c_kind  c_base a_role
0   1965-0418x   AFR  18-0101-B123E1R  ...       V       a     CE
1   1965-0418x   AFR  18-0101-B123E1R  ...       V       a     TE
2   1965-0418x   AFR  18-0101-B123E1R  ...       V       c     CE
4   1965-0418x   AFR  18-0101-B123E1R  ...       V       c     TE
5   1965-0418x   AFR  18-0101-B123E1R  ...       V       t     CE

[5 rows x 12 columns]

In [ ]:
#hide
df_V

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                          Laat ons ons hoofde buig.
1        1965-0418x  ...                          Laat ons ons hoofde buig.
2        1965-0418x  ...  Here, soos ons hier vergader op hierdie mooi P...
4        1965-0418x  ...  Ons glo dat U Jesus opgewek het uit die dode, ...
5        1965-0418x  ...  Ons glo dat U Jesus opgewek het uit die dode, ...
...             ...  ...                                                ...
382737       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
382738       CAB-06  ...                                              Amen.
382739       CAB-06  ...                                              Amen.
382740       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...
382741       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[362105 rows x 14 columns]

In [ ]:
tmp = df_V.sort_values(by=['m_descriptor', 't_lan','t_version','s_rsen','c_created_at'])

In [ ]:
#hide
tmp

       m_descriptor  ...                                          e_content
6405      1948-0304  ...  Gehen Sie jetzt nicht von hier weg und sagen S...
6406      1948-0304  ...                       Ich weiß nicht; niemand tut.
6407      1948-0304  ...          Nicht einmal die Engel des Himmels kennt.
6408      1948-0304  ...                                 Ich weiß es nicht.
6409      1948-0304  ...  Aber ich weiß, dass es in der Nähe schrecklich...
...             ...  ...                                                ...
382737       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
382739       CAB-06  ...                                              Amen.
382738       CAB-06  ...                                              Amen.
382741       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...
382740       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[362105 rows x 14 columns]

In [ ]:
#hide
del tmp

In [ ]:
df_V = df_V.groupby(['m_descriptor', 't_lan','t_version','s_rsen']).agg({'e_top':'last', 'be_top':'last', 'c_created_at':['last','count'], 'c_kind':'last', 'c_base':'last', 'a_role':'last', 'u_name':'last', 'e_content':'last'})
df_V.iloc[:,:-2]

                                       e_top be_top  ... c_base a_role
                                        last   last  ...   last   last
m_descriptor t_lan t_version    s_rsen               ...
1948-0304    GER   15-0902-B123 1          M    NaN  ...      c     TE
                                2          M      M  ...      a     TE
                                3          M      M  ...      a     TE
                                4          M      M  ...      a     TE
                                5          M      N  ...      c     TE
...                                      ...    ...  ...    ...    ...
CAB-06       AFR   18-1101-B123 831        T      N  ...      c     CE
                                832        M      M  ...      t     CE
                                833        M      M  ...      t     CE
                                834        M      N  ...      c     TE
                                835        M      N  ...      c     TE

[248389 rows x 7 columns]

In [ ]:
#hide
df_V

                                       e_top  ...                                          e_content
                                        last  ...                                               last
m_descriptor t_lan t_version    s_rsen        ...
1948-0304    GER   15-0902-B123 1          M  ...  Gehen Sie jetzt nicht von hier weg und sagen S...
                                2          M  ...                       Ich weiß nicht; niemand tut.
                                3          M  ...          Nicht einmal die Engel des Himmels kennt.
                                4          M  ...                                 Ich weiß es nicht.
                                5          M  ...  Aber ich weiß, dass es in der Nähe schrecklich...
...                                      ...  ...                                                ...
CAB-06       AFR   18-1101-B123 831        T  ...   Wat anders kan ons begeer behalwe Jesus Homself?
                                832        M  ...          Is Hy nie alles nie, selfs Volmaak Alles?
                                833        M  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
                                834        M  ...                                              Amen.
                                835        M  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[248389 rows x 9 columns]

In [ ]:
# 
# use T-contributions.csv to verify that all sentences have votes (i.e. no red ones left)

In [ ]:
#hide
# df_T = pd.read_csv(f'{PATH}/contributions/1955-0807y_Pride_CHN_15-0401-h_T-contributions.csv', sep='~')
# df_T = pd.read_csv(f'{PATH}/contributions/1965-0829_SatansEden_FIJ_15-1104-B123_T-contributions.csv', sep='~')
# df_T

In [ ]:
all_files = glob.glob(f"{PATH}/contributions/*T-contributions.csv")
li = []
for filename in all_files:
    dft = pd.read_csv(filename, index_col=None, header=0, sep='~')
    li.append(dft)
df_T = pd.concat(li, axis=0, ignore_index=True)
df_T.iloc[:5,:-2]

  m_descriptor t_lan  t_senc        t_version  ... c_kind  c_eis  c_base a_role
0   1965-0418x   AFR    1870  18-0101-B123E1R  ...      T      0     NaN     MT
1   1965-0418x   AFR    1870  18-0101-B123E1R  ...      T      0     NaN     MT
2   1965-0418x   AFR    1870  18-0101-B123E1R  ...      T      0     NaN     MT
3   1965-0418x   AFR    1870  18-0101-B123E1R  ...      T      0     NaN     MT
4   1965-0418x   AFR    1870  18-0101-B123E1R  ...      T      0     NaN     MT

[5 rows x 16 columns]

In [ ]:
#hide
df_T

       m_descriptor  ...                                          e_content
0        1965-0418x  ...                          Laat ons ons hoofde buig.
1        1965-0418x  ...  Here, soos ons hier vergader hierdie mooi Paas...
2        1965-0418x  ...  Ons glo dat U Jesus opgewek het uit die dood, ...
3        1965-0418x  ...  En laat daar kom ’n Pase tussen ons almal, van...
4        1965-0418x  ...  Mag ons, as Sy diensknegte, verstaan, dat ons ...
...             ...  ...                                                ...
248384       CAB-06  ...  Waarskuwings wat anders kon ons bokant Jesus S...
248385       CAB-06  ...  Sagmoedig Is Hy nie alles nie, selfs Volmaak A...
248386       CAB-06  ...  Sagmoedig Hy wat 'n oor laat hoor het wat die ...
248387       CAB-06  ...                                     Vice heiliges.
248388       CAB-06  ...  Sagmoedig Selfs, Here God, deur U Gees, laat o...

[248389 rows x 18 columns]

In [ ]:
assert len(df_V)==len(df_T), f"df_V has different length from df_T: Maybe there are sentences without any votes (red ones)!. This means there are contributions such that df_T['e_top']=='Z'"

In [ ]:
# 
#IF PREVIOUS ASSERTION FAILS: See if there are: if so, go vote for them and run this notebook again. This is unusual because each translation's CE should have voted (i.e. signed off on) for ALL sentences!!!
df_T[df_T['e_top']=='Z']

Empty DataFrame
Columns: [m_descriptor, t_lan, t_senc, t_version, s_typ, s_rsen, e_id, e_top, be_id, be_top, c_id, c_created_at, c_kind, c_eis, c_base, a_role, u_name, e_content]
Index: []

In [ ]:
df_T[~df_T['e_top'].isin(['M','T','Z','N'])]

Empty DataFrame
Columns: [m_descriptor, t_lan, t_senc, t_version, s_typ, s_rsen, e_id, e_top, be_id, be_top, c_id, c_created_at, c_kind, c_eis, c_base, a_role, u_name, e_content]
Index: []

In [ ]:
df_V = df_V.reset_index()
df_V.iloc[:5,:-2]

  m_descriptor t_lan     t_version s_rsen  ... c_created_at c_kind c_base a_role
                                           ...        count   last   last   last
0    1948-0304   GER  15-0902-B123      1  ...            1      V      c     TE
1    1948-0304   GER  15-0902-B123      2  ...            1      V      a     TE
2    1948-0304   GER  15-0902-B123      3  ...            1      V      a     TE
3    1948-0304   GER  15-0902-B123      4  ...            1      V      a     TE
4    1948-0304   GER  15-0902-B123      5  ...            1      V      c     TE

[5 rows x 11 columns]

In [ ]:
#hide
df_V

       m_descriptor  ...                                          e_content
                     ...                                               last
0         1948-0304  ...  Gehen Sie jetzt nicht von hier weg und sagen S...
1         1948-0304  ...                       Ich weiß nicht; niemand tut.
2         1948-0304  ...          Nicht einmal die Engel des Himmels kennt.
3         1948-0304  ...                                 Ich weiß es nicht.
4         1948-0304  ...  Aber ich weiß, dass es in der Nähe schrecklich...
...             ...  ...                                                ...
248384       CAB-06  ...   Wat anders kan ons begeer behalwe Jesus Homself?
248385       CAB-06  ...          Is Hy nie alles nie, selfs Volmaak Alles?
248386       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
248387       CAB-06  ...                                              Amen.
248388       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[248389 rows x 13 columns]

In [ ]:
df_V.columns

MultiIndex([('m_descriptor',      ''),
            (       't_lan',      ''),
            (   't_version',      ''),
            (      's_rsen',      ''),
            (       'e_top',  'last'),
            (      'be_top',  'last'),
            ('c_created_at',  'last'),
            ('c_created_at', 'count'),
            (      'c_kind',  'last'),
            (      'c_base',  'last'),
            (      'a_role',  'last'),
            (      'u_name',  'last'),
            (   'e_content',  'last')],
           )

In [ ]:
#
#rename columns
df_V.columns = ['m_descriptor','t_lan','t_version','s_rsen','e_top','be_top','c_created_at','count','c_kind','c_base','a_role','u_name','e_content']

In [ ]:
#hide
df_V

       m_descriptor  ...                                          e_content
0         1948-0304  ...  Gehen Sie jetzt nicht von hier weg und sagen S...
1         1948-0304  ...                       Ich weiß nicht; niemand tut.
2         1948-0304  ...          Nicht einmal die Engel des Himmels kennt.
3         1948-0304  ...                                 Ich weiß es nicht.
4         1948-0304  ...  Aber ich weiß, dass es in der Nähe schrecklich...
...             ...  ...                                                ...
248384       CAB-06  ...   Wat anders kan ons begeer behalwe Jesus Homself?
248385       CAB-06  ...          Is Hy nie alles nie, selfs Volmaak Alles?
248386       CAB-06  ...  Hy wat 'n oor het laat hom hoor wat die Gees a...
248387       CAB-06  ...                                              Amen.
248388       CAB-06  ...  Selfs so, Here God, deur U Gees, laat ons U wa...

[248389 rows x 13 columns]

In [ ]:
#hide
df_V[~df_V['e_top'].isin(['M','T','Z','N'])]

Empty DataFrame
Columns: [m_descriptor, t_lan, t_version, s_rsen, e_top, be_top, c_created_at, count, c_kind, c_base, a_role, u_name, e_content]
Index: []

In [ ]:
#hide
len(df_V[df_V['a_role']=='CE']) + len(df_V[df_V['a_role']=='TE']) + len(df_V[df_V['a_role']=='QE']) + len(df_V[df_V['a_role']=='LA'])

248389

In [ ]:
#hide
len( df_V[~df_V['a_role'].isin(['CE','TE','QE'])] ) #seems like votes by LA do NOT show in TODPROOF - bug??

165

In [ ]:
#hide
len(df_V[df_V['a_role']=='LA'])
# len(df_V[df_V['a_role']=='EP'])

165

In [ ]:
#hide
df_V[~df_V['a_role'].isin(['CE','TE','QE','LA'])]

Empty DataFrame
Columns: [m_descriptor, t_lan, t_version, s_rsen, e_top, be_top, c_created_at, count, c_kind, c_base, a_role, u_name, e_content]
Index: []

In [ ]:
# 
#handle NaNs in e_content
e_content_nans = df_V['e_content'].isna()

In [ ]:
#hide
df_V[e_content_nans]

      m_descriptor t_lan     t_version  s_rsen  ... c_base a_role  u_name  e_content
15724   1953-0405s   CHN     19-0201-h    1102  ...      a     TE  dawnxu        NaN
15775   1953-0405s   CHN     19-0201-h    1153  ...      a     TE  dawnxu        NaN
30871    1955-1118   CHN     15-0401-h      18  ...      a     TE  estzhe        NaN
33361    1956-0805   CHN     15-0402-h    1176  ...      a     TE  corche        NaN
34819    1957-0114   CHN     19-0701-h    1204  ...      a     TE  dawnxu        NaN
35746   1957-0120x   CHN     19-0701-h     360  ...      a     TE  dawnxu        NaN
42964    1957-0419   BEM  15-0401-B123     505  ...      a     CE  marmwa        NaN
55587    1960-0607   CHN     19-0401-h     123  ...      a     TE  dawnxu        NaN
55749    1960-0607   CHN     19-0401-h     285  ...      a     TE  dawnxu        NaN
56098    1960-0607   CHN     19-0401-h     634  ...      a     TE  dawnxu        NaN
56326    1960-0607   CHN     19-0401-h     862  ...      a     TE  dawnxu        NaN
56361    1960-0607   CHN     19-0401-h     897  ...      a     TE  dawnxu        NaN
56362    1960-0607   CHN     19-0401-h     898  ...      a     TE  dawnxu        NaN
56363    1960-0607   CHN     19-0401-h     899  ...      a     TE  dawnxu        NaN
56364    1960-0607   CHN     19-0401-h     900  ...      a     TE  dawnxu        NaN
56365    1960-0607   CHN     19-0401-h     901  ...      a     TE  dawnxu        NaN
56366    1960-0607   CHN     19-0401-h     902  ...      a     TE  dawnxu        NaN
56367    1960-0607   CHN     19-0401-h     903  ...      a     TE  dawnxu        NaN
56368    1960-0607   CHN     19-0401-h     904  ...      a     TE  dawnxu        NaN
56369    1960-0607   CHN     19-0401-h     905  ...      a     TE  dawnxu        NaN
56370    1960-0607   CHN     19-0401-h     906  ...      a     TE  dawnxu        NaN
56371    1960-0607   CHN     19-0401-h     907  ...      a     TE  dawnxu        NaN
56372    1960-0607   CHN     19-0401-h     908  ...      a     TE  dawnxu        NaN
56616    1960-0607   CHN     19-0401-h    1152  ...      a     TE  dawnxu        NaN
56617    1960-0607   CHN     19-0401-h    1153  ...      a     TE  dawnxu        NaN

[25 rows x 13 columns]

In [ ]:
# 
#replace e_content NaNs with empty strings
df_V.loc[e_content_nans, 'e_content'] = ''

In [ ]:
#hide
# df_V.loc[e_content_nans, ['e_content']]
# OR
df_V[df_V['e_content']=='']

      m_descriptor t_lan     t_version  s_rsen  ... c_base a_role  u_name  e_content
15724   1953-0405s   CHN     19-0201-h    1102  ...      a     TE  dawnxu
15775   1953-0405s   CHN     19-0201-h    1153  ...      a     TE  dawnxu
30871    1955-1118   CHN     15-0401-h      18  ...      a     TE  estzhe
33361    1956-0805   CHN     15-0402-h    1176  ...      a     TE  corche
34819    1957-0114   CHN     19-0701-h    1204  ...      a     TE  dawnxu
35746   1957-0120x   CHN     19-0701-h     360  ...      a     TE  dawnxu
42964    1957-0419   BEM  15-0401-B123     505  ...      a     CE  marmwa
55587    1960-0607   CHN     19-0401-h     123  ...      a     TE  dawnxu
55749    1960-0607   CHN     19-0401-h     285  ...      a     TE  dawnxu
56098    1960-0607   CHN     19-0401-h     634  ...      a     TE  dawnxu
56326    1960-0607   CHN     19-0401-h     862  ...      a     TE  dawnxu
56361    1960-0607   CHN     19-0401-h     897  ...      a     TE  dawnxu
56362    1960-0607   CHN     19-0401-h     898  ...      a     TE  dawnxu
56363    1960-0607   CHN     19-0401-h     899  ...      a     TE  dawnxu
56364    1960-0607   CHN     19-0401-h     900  ...      a     TE  dawnxu
56365    1960-0607   CHN     19-0401-h     901  ...      a     TE  dawnxu
56366    1960-0607   CHN     19-0401-h     902  ...      a     TE  dawnxu
56367    1960-0607   CHN     19-0401-h     903  ...      a     TE  dawnxu
56368    1960-0607   CHN     19-0401-h     904  ...      a     TE  dawnxu
56369    1960-0607   CHN     19-0401-h     905  ...      a     TE  dawnxu
56370    1960-0607   CHN     19-0401-h     906  ...      a     TE  dawnxu
56371    1960-0607   CHN     19-0401-h     907  ...      a     TE  dawnxu
56372    1960-0607   CHN     19-0401-h     908  ...      a     TE  dawnxu
56616    1960-0607   CHN     19-0401-h    1152  ...      a     TE  dawnxu
56617    1960-0607   CHN     19-0401-h    1153  ...      a     TE  dawnxu

[25 rows x 13 columns]

In [ ]:
# 
#add chars column
df_V['chars'] = [len(e) for e in df_V['e_content']] #TypeError: object of type 'float' has no len()
# df_V['chars'] = [len(e) if type(e)==str else 1 for e in df_V['e_content']]
df_V.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','e_top','be_top','c_created_at','count','c_kind','c_base','a_role','chars']]

  m_descriptor t_lan     t_version  s_rsen  ... c_kind c_base a_role  chars
0    1948-0304   GER  15-0902-B123       1  ...      V      c     TE    112
1    1948-0304   GER  15-0902-B123       2  ...      V      a     TE     28
2    1948-0304   GER  15-0902-B123       3  ...      V      a     TE     41
3    1948-0304   GER  15-0902-B123       4  ...      V      a     TE     18
4    1948-0304   GER  15-0902-B123       5  ...      V      c     TE    106
5    1948-0304   GER  15-0902-B123       6  ...      V      c     TE     36

[6 rows x 12 columns]

In [ ]:
#hide
df_V

       m_descriptor  ... chars
0         1948-0304  ...   112
1         1948-0304  ...    28
2         1948-0304  ...    41
3         1948-0304  ...    18
4         1948-0304  ...   106
...             ...  ...   ...
248384       CAB-06  ...    48
248385       CAB-06  ...    41
248386       CAB-06  ...    66
248387       CAB-06  ...     5
248388       CAB-06  ...    58

[248389 rows x 14 columns]

In [ ]:
#hide 
# df_V.loc[e_content_nans, ['e_content','chars']]
# OR
df_V[df_V['chars']==0]

      m_descriptor t_lan     t_version  s_rsen  ... a_role  u_name e_content  chars
15724   1953-0405s   CHN     19-0201-h    1102  ...     TE  dawnxu                0
15775   1953-0405s   CHN     19-0201-h    1153  ...     TE  dawnxu                0
30871    1955-1118   CHN     15-0401-h      18  ...     TE  estzhe                0
33361    1956-0805   CHN     15-0402-h    1176  ...     TE  corche                0
34819    1957-0114   CHN     19-0701-h    1204  ...     TE  dawnxu                0
35746   1957-0120x   CHN     19-0701-h     360  ...     TE  dawnxu                0
42964    1957-0419   BEM  15-0401-B123     505  ...     CE  marmwa                0
55587    1960-0607   CHN     19-0401-h     123  ...     TE  dawnxu                0
55749    1960-0607   CHN     19-0401-h     285  ...     TE  dawnxu                0
56098    1960-0607   CHN     19-0401-h     634  ...     TE  dawnxu                0
56326    1960-0607   CHN     19-0401-h     862  ...     TE  dawnxu                0
56361    1960-0607   CHN     19-0401-h     897  ...     TE  dawnxu                0
56362    1960-0607   CHN     19-0401-h     898  ...     TE  dawnxu                0
56363    1960-0607   CHN     19-0401-h     899  ...     TE  dawnxu                0
56364    1960-0607   CHN     19-0401-h     900  ...     TE  dawnxu                0
56365    1960-0607   CHN     19-0401-h     901  ...     TE  dawnxu                0
56366    1960-0607   CHN     19-0401-h     902  ...     TE  dawnxu                0
56367    1960-0607   CHN     19-0401-h     903  ...     TE  dawnxu                0
56368    1960-0607   CHN     19-0401-h     904  ...     TE  dawnxu                0
56369    1960-0607   CHN     19-0401-h     905  ...     TE  dawnxu                0
56370    1960-0607   CHN     19-0401-h     906  ...     TE  dawnxu                0
56371    1960-0607   CHN     19-0401-h     907  ...     TE  dawnxu                0
56372    1960-0607   CHN     19-0401-h     908  ...     TE  dawnxu                0
56616    1960-0607   CHN     19-0401-h    1152  ...     TE  dawnxu                0
56617    1960-0607   CHN     19-0401-h    1153  ...     TE  dawnxu                0

[25 rows x 14 columns]

In [ ]:
# 
#add words column
#https://www.geeksforgeeks.org/python-program-to-count-words-in-a-sentence/
df_V['words'] = [len(re.findall(r'\w+', e)) for e in df_V['e_content']]
df_V.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','e_top','be_top','c_created_at','count','c_kind','c_base','a_role','chars','words']]

  m_descriptor t_lan     t_version  s_rsen  ... c_base a_role chars  words
0    1948-0304   GER  15-0902-B123       1  ...      c     TE   112     20
1    1948-0304   GER  15-0902-B123       2  ...      a     TE    28      5
2    1948-0304   GER  15-0902-B123       3  ...      a     TE    41      7
3    1948-0304   GER  15-0902-B123       4  ...      a     TE    18      4
4    1948-0304   GER  15-0902-B123       5  ...      c     TE   106     18
5    1948-0304   GER  15-0902-B123       6  ...      c     TE    36      8

[6 rows x 13 columns]

In [ ]:
#hide
df_V

       m_descriptor t_lan  ... chars  words
0         1948-0304   GER  ...   112     20
1         1948-0304   GER  ...    28      5
2         1948-0304   GER  ...    41      7
3         1948-0304   GER  ...    18      4
4         1948-0304   GER  ...   106     18
...             ...   ...  ...   ...    ...
248384       CAB-06   AFR  ...    48      8
248385       CAB-06   AFR  ...    41      8
248386       CAB-06   AFR  ...    66     15
248387       CAB-06   AFR  ...     5      1
248388       CAB-06   AFR  ...    58     12

[248389 rows x 15 columns]

In [ ]:
#hide 
# df_V[df_V['words']==0]

In [ ]:
# 
#remove BER part from t_version; allows for joining to English contributions
df_V['t_version'] = ['-'.join(e.split('-')[:2]) for e in df_V['t_version']]
df_V.loc[:5,['m_descriptor','t_lan','t_version','s_rsen','e_top','be_top','c_created_at','count','c_kind','c_base','a_role','chars','words']]

  m_descriptor t_lan t_version  s_rsen e_top  ... c_kind c_base  a_role chars words
0    1948-0304   GER   15-0902       1     M  ...      V      c      TE   112    20
1    1948-0304   GER   15-0902       2     M  ...      V      a      TE    28     5
2    1948-0304   GER   15-0902       3     M  ...      V      a      TE    41     7
3    1948-0304   GER   15-0902       4     M  ...      V      a      TE    18     4
4    1948-0304   GER   15-0902       5     M  ...      V      c      TE   106    18
5    1948-0304   GER   15-0902       6     M  ...      V      c      TE    36     8

[6 rows x 13 columns]

In [ ]:
#hide
df_V

       m_descriptor t_lan  ... chars  words
0         1948-0304   GER  ...   112     20
1         1948-0304   GER  ...    28      5
2         1948-0304   GER  ...    41      7
3         1948-0304   GER  ...    18      4
4         1948-0304   GER  ...   106     18
...             ...   ...  ...   ...    ...
248384       CAB-06   AFR  ...    48      8
248385       CAB-06   AFR  ...    41      8
248386       CAB-06   AFR  ...    66     15
248387       CAB-06   AFR  ...     5      1
248388       CAB-06   AFR  ...    58     12

[248389 rows x 15 columns]

[link text](https://)# Merge E and V contributions

In [ ]:
df_joind_EV = pd.merge(df_E, df_V, how='inner', on=['m_descriptor', 't_version', 's_rsen'], suffixes=('_E', '_V'), sort=True)
df_joind_EV.loc[:5,['m_descriptor','t_lan_E','t_version','s_rsen','c_id','chars_E','words_E','t_lan_V','e_top','be_top','c_created_at','count','c_kind','c_base','a_role','chars_V','words_V']]

  m_descriptor t_lan_E t_version  s_rsen  ...  c_base  a_role  chars_V words_V
0    1948-0304     ENG   15-0902       1  ...       c      TE      112      20
1    1948-0304     ENG   15-0902       1  ...       t      QE      104      18
2    1948-0304     ENG   15-0902       2  ...       a      TE       28       5
3    1948-0304     ENG   15-0902       2  ...       a      QE       25       5
4    1948-0304     ENG   15-0902       3  ...       a      TE       41       7
5    1948-0304     ENG   15-0902       3  ...       t      QE       32       7

[6 rows x 17 columns]

In [ ]:
#hide
df_joind_EV
# df_joined_EV[60000:70000]

       m_descriptor t_lan_E  ... chars_V  words_V
0         1948-0304     ENG  ...     112       20
1         1948-0304     ENG  ...     104       18
2         1948-0304     ENG  ...      28        5
3         1948-0304     ENG  ...      25        5
4         1948-0304     ENG  ...      41        7
...             ...     ...  ...     ...      ...
248384       CAB-06     ENG  ...      48        8
248385       CAB-06     ENG  ...      41        8
248386       CAB-06     ENG  ...      66       15
248387       CAB-06     ENG  ...       5        1
248388       CAB-06     ENG  ...      58       12

[248389 rows x 20 columns]

# Save prepared data to file

In [ ]:
df_joind_EV.to_csv (f'{PATH}/PredictTranslationWordAndCharCount/PredictTranslationWordAndCharCount_1-output.csv', sep='~', index = False, header=True)